<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuuuuu.unsplashapi.Dao.PictureIdMapper">
  <resultMap id="BaseResultMap" type="com.xuuuuu.unsplashapi.Pojo.PictureId">
    <constructor>
      <idArg column="openid" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from picture_id
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xuuuuu.unsplashapi.Pojo.PictureId">
    insert into picture_id (openid)
    values (#{openid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xuuuuu.unsplashapi.Pojo.PictureId">
    insert into picture_id
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>